{% extends 'bootstrap3/bootstrap3.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block bootstrap3_title %}
    {% block title %}
    {% endblock %}
{% endblock %}

{# block just before closing </head> #}
{% block bootstrap3_extra_head %}
    <link rel="shortcut icon" href="/static/home/icon.png"/>
    {% block head %}
    {% endblock %}
{% endblock %}

{% block bootstrap3_content %}
{% url 'account_login' as login %}
{% url 'account_signup' as signup %}
{% url 'account_logout' as logout %}
{% url 'account_email' as email_url %}
{% url 'account_change_password' as change_password %}
{% url 'home' as home %}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ home }}">ITLab Smart Street Light</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
                {% if user.is_authenticated %}
                <li><a href="{{ home }}">Home</a></li>
                {% endif %}
          </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{{ email_url }}">{{ user.email }}</a></li>
                <li><a href="{{ logout }}">Log Out</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% block content %}
{% endblock %}

{% endblock %}

{# block just before closing </body> #}
{% block bootstrap3_extra_script %}
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/autosize.js/3.0.20/autosize.min.js'></script> -->
    {% block extra_script %}
    {% endblock %}
{% endblock %}
