{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_title %}Device Info | ITLab SSL{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <ul class="breadcrumb">
          <li>
              <a href="{% url 'home' %}">Home</a>
          </li>
          <li>
              <a href="{% url 'device_list' %}">Device List</a>
          </li>
          <li class="active">
              Device Info
          </li>
      </ul>
      <div class="page-header">
          <h3>{{ device_name }}</h3>
      </div>
      <div class="panel panel-info" style="border: none;">
        <div class="panel-heading">
            <h3 class="panel-title">
              2018-12-25 17:20
            </h3>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <!-- <thead>
            <tr>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>PM2.5</th>
              <th>Loudness</th>
              <th>Light Intensity</th>
              <th>UV Intensity</th>
              <th>IR Sensor</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>87 °C</td>
              <td>87 %</td>
              <td>87 μg/m<sup>3</sup></td>
              <td>87 dB</td>
              <td>87 lux</td>
              <td>87 mW/cm<sup>2</sup></td>
              <td>not sensed</td>
            </tr>
          </tbody> -->
          <tbody>
            <tr>
              <th>Temperature</th>
              <td>87 °C</td>
              <th>Humidity</th>
              <td>87 %</td>
            </tr>
            <tr>
              <th>PM2.5</th>
              <td>87 μg/m<sup>3</sup></td>
              <th>Loudness</th>
              <td>87 dB</td>
            </tr>
            <tr>
              <th>Light Intensity</th>
              <td>87 lux</td>
              <th>UV Intensity</th>
              <td>87 mW/cm<sup>2</sup></td>
            </tr>
            <tr>
              <th>IR Sensor</th>
              <td>not sensed</td>
              <th></th>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6 column">
      <div algin="center" class="embed-responsive embed-responsive-16by9">
        <video id="video1" class="embed-responsive-item" controls muted autoplay></video>
      </div>
    </div>
    <div class="col-md-6 column">
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<!-- Play HLS Video -->
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<script>
  var video = document.getElementById('video');
  if(Hls.isSupported()) {
    var hls = new Hls();
    hls.loadSource('https://ssl.itlab.ee.ncku.edu.tw:62400/hls/demo.m3u8');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
      video.play();
  });
 }
  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = 'https://ssl.itlab.ee.ncku.edu.tw:62400/hls/demo.m3u8';
    video.addEventListener('loadedmetadata',function() {
      video.play();
    });
  }
</script>
{% endblock %}
