{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_title %}Device History | ITLab SSL{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/home/plugin/smalot-bootstrap-datetimepicker.min-2.4.4.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'device_list' %}">Device List</a>
        </li>
        <li class="active">
          Device History
        </li>
      </ul>

      <div class="page-header">
        <h3>{{ device_name }}</h3>
      </div>

      <div class="alert alert-info">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
        Get records for <strong>one hour</strong> from the selected <strong>DateTime</strong>.
      </div>

      <div class="form-group">
        <div id="datetimepicker1" class="input-group date form_datetime">
          <input id='datetimepicker1_val' type='text' class="form-control" value="" readonly
            style="background-color: transparent;" />
          <span class="input-group-addon"><i class="icon-remove glyphicon glyphicon-remove"></i></span>
          <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          <span class="input-group-addon"><i class="glyphicon glyphicon-search" onclick="loadHistory();"></i></span>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped" id="history_table">
          <thead>
            <tr>
              <th>Time</th>
              <th>Temperature</th>
              <th>Humidity</th>
              <th>PM2.5</th>
              <th>Loudness</th>
              <th>Light Intensity</th>
              <th>UV Intensity</th>
              <th>Load Video</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class='col-sm-2'></div>
    <div class='col-sm-8'>
      <div class="embed-responsive embed-responsive-16by9">
        <video id='video1' class="embed-responsive-item" style="max-width: 800px; max-height: 450px;"
          playsinline controls muted autoplay preload="none" onclick="this.play();"></video>
      </div>
    </div>
    <div class='col-sm-2'></div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<!-- Show DateTimePicker -->
<script src="/static/home/plugin/smalot-bootstrap-datetimepicker.min-2.4.4.js"></script>
<script>
  $("#datetimepicker1").datetimepicker({
    format: "yyyy-mm-dd hh:00",
    minuteStep: 60,
    startView: 2,
    minView: 1,
    autoclose: true
  })
    .on('changeDate', function (ev) {
      console.log((ev.date ? ev.date.getTime() / 1000 | 0 : null));
      if (ev.date == null) clearUI();
    });
</script>

<!-- Load history list & history video src -->
<script>
  function clearUI() {
    $("#history_table > tbody").html("");
    document.getElementById('video1').removeAttribute("src");
    document.getElementById('video1').load();
  }

  function getTimestamp() {
    var the_date = $('#datetimepicker1').data("datetimepicker").viewDate;
    if (the_date) {
      the_date = new Date(the_date.getTime() + (new Date().getTimezoneOffset() * 60000));
      the_date.setMinutes(0);
      the_date.setSeconds(0);
      the_date.setMilliseconds(0);
      return the_date.getTime() / 1000 | 0;
    }
    else
      return null;
  }

  function loadHistory() {
    clearUI();

    if ($('#datetimepicker1_val').val() == "") {
      alert('Please select Datetime first.');
      return;
    }

    var ts = getTimestamp();
    console.log(ts);
    if (ts == null) return;

    $.ajax({
      url: "{% url 'get_history_info' %}",
      type: "POST",
      data: {
        csrfmiddlewaretoken: '{{ csrf_token }}',
        pk: '{{ device_name }}',
        ts: ts,
      },
      success: function (data) {
        if (data.status != 200) {
          console.log(data.statusText);
          return;
        }

        if ($.isEmptyObject(data.content)) {
          alert('No Data.');
        }

        $.each(data.content, function (k, v) {
          if (v.vod == '')
            js = "javascript: alert('Video not found.');";
          else {
            url = '{{ vod_url }}' + v.vod;
            js = "javascript: document.getElementById('video1').setAttribute('src', '" + url + "'); document.getElementById('video1').load();";
          }

          $('#history_table > tbody').append(
            '<tr>' +
            '<td>' + v.timestamp + '</td>' +
            '<td>' + v.temperature + ' °C' + '</td>' +
            '<td>' + v.humidity + ' %' + '</td>' +
            '<td>' + v.pm2_5 + ' μg/m<sup>3</sup>' + '</td>' +
            '<td>' + v.loudness + ' dB' + '</td>' +
            '<td>' + v.light_intensity + ' lux' + '</td>' +
            '<td>' + v.uv_intensity + ' mW/cm<sup>2</sup>' + '</td>' +
            '<td><button onclick="' + js + '" type="button" class="btn btn-default btn-block btn-sm">Load</button></td>' +
            '</tr>'
          );
        });
      },
    });
  }
</script>
{% endblock %}