{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_title %}{{ device_id }} | ITLab SSL{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/home/plugin/bootstrap-toggle.min-2.2.2.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <ul class="breadcrumb">
        <li>
          <a href="{% url 'home' %}">Home</a>
        </li>
        <li>
          <a href="{% url 'device_list' %}">Device List</a>
        </li>
        <li class="active">
          Device Info
        </li>
      </ul>
      <div class="page-header">
        <h3>{{ device_id }}</h3>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6 column">
      {% if device_info %}
      <div class="alert alert-info">
        <strong id="timestamp">{{ device_info.timestamp | default_if_none:"Disconnected" }}</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th class="col-xs-8">Temperature</th>
              <td id="temperature">{{ device_info.temperature | default_if_none:"null" }} °C</td>
            </tr>
            <tr>
              <th>Humidity</th>
              <td id="humidity">{{ device_info.humidity | default_if_none:"null" }} %</td>
            </tr>
            <tr>
              <th>PM2.5</th>
              <td id="pmat25">{{ device_info.pmat25 | default_if_none:"null" }} μg/m<sup>3</sup></td>
            </tr>
            <tr>
              <th>Loudness</th>
              <td id="loudness">{{ device_info.loudness | default_if_none:"null" }} dB</td>
            </tr>
            <tr>
              <th>Light Intensity</th>
              <td id="light_intensity">{{ device_info.light_intensity | default_if_none:"null" }} lux</td>
            </tr>
            <tr>
              <th>UV Intensity</th>
              <td id="uv_intensity">{{ device_info.uv_intensity | default_if_none:"null" }} mW/cm<sup>2</sup></td>
            </tr>
            <tr>
              <th>LED Status</th>
              <td>
                <p>
                    <input disabled id="led_status" type="checkbox" data-toggle="toggle" data-onstyle="success"
                    data-size="small">
                  <input disabled id="pir_status" checked type="checkbox" data-toggle="toggle" data-on="PIR On"
                    data-off="PIR Off" data-onstyle="warning" data-size="small">
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% else %}
      <div class="alert alert-info">
        <strong id="timestamp">Disconnected</strong>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th class="col-xs-8">Temperature</th>
              <td id="temperature">null °C</td>
            </tr>
            <tr>
              <th>Humidity</th>
              <td id="humidity">null %</td>
            </tr>
            <tr>
              <th>PM2.5</th>
              <td id="pmat25">null μg/m<sup>3</sup></td>
            </tr>
            <tr>
              <th>Loudness</th>
              <td id="loudness">null dB</td>
            </tr>
            <tr>
              <th>Light Intensity</th>
              <td id="light_intensity">null lux</td>
            </tr>
            <tr>
              <th>UV Intensity</th>
              <td id="uv_intensity">null mW/cm<sup>2</sup></td>
            </tr>
            <tr>
              <th>LED Status</th>
              <td>
                <input disabled id="led_status" type="checkbox" data-toggle="toggle" data-onstyle="success"
                  data-size="small">
                <input disabled id="pir_status" checked type="checkbox" data-toggle="toggle" data-on="PIR On"
                  data-off="PIR Off" data-onstyle="warning" data-size="small">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endif %}
      {% if request.user.is_staff %}
      <p>
        <button disabled id="led_ctrl_btn" class="btn btn-primary" onclick="ws_send('led_ctrl');">LED On /
          Off</button>
      </p>
      {% endif %}
    </div>
    <div class="col-md-6 column">
      <div class="embed-responsive embed-responsive-16by9">
        <video id="video1" class="embed-responsive-item" playsinline controls muted autoplay></video>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
<script src="/static/home/plugin/bootstrap-toggle.min-2.2.2.js"></script>

<!-- Play HLS Video -->
<script src="/static/home/plugin/hls.min-0.12.4.js"></script>
<script>
  var video = document.getElementById('video1');
  if (Hls.isSupported()) {
    var hls = new Hls();
    hls.loadSource('{{ hls_url }}{{ device_id }}.m3u8');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED, function () {
      video.play();
    });
  }
  else if (video.canPlayType('application/vnd.apple.mpegurl')) {
    video.src = '{{ hls_url }}{{ device_id }}.m3u8';
    video.addEventListener('loadedmetadata', function () {
      video.play();
    });
  }
</script>

<!-- UI enable / disable function -->
{% if request.user.is_staff %}
<script>
  function ui_disabled(disable) {
    document.querySelector('#led_ctrl_btn').disabled = disable;

    if (disable == true) {
      document.querySelector('#timestamp').innerHTML = 'Disconnected';
    }
  }
</script>
{% else %}
<script>
  function ui_disabled(disable) {
    if (disable == true) {
      document.querySelector('#timestamp').innerHTML = 'Disconnected';
    }
  }
</script>
{% endif %}

<!-- Other functions -->
<script>
  function switch_diabled_toggle(id, opt) {
    if (opt) {
      $(id).bootstrapToggle('enable');
      $(id).bootstrapToggle(Number(opt) ? 'on' : 'off');
      $(id).bootstrapToggle('disable');
    }
  }

  switch_diabled_toggle('#led_status', '{{ device_info.led_status | default_if_none:"0" }}');
  // document.querySelector('#pir_timeout').value = '{{ device_info.pir_timeout | default_if_none:"" }}';

  // check if now - timestamp > 15s every 10s
  async function check_edge() {
    while (true) {
      var time = document.querySelector('#timestamp').innerHTML;

      var if_disconnected = (time == "Disconnected") || ((new Date() - new Date(time)) > 15 * 1000);

      ui_disabled(if_disconnected);

      await new Promise(resolve => setTimeout(resolve, 10 * 1000));
    }
  }

  check_edge();
</script>

<!-- Websocket -->
<script>
  var device_id = '{{ device_id }}';

  var ws_scheme = window.location.protocol == "https:" ? "wss://" : "ws://";

  var socket = new WebSocket(ws_scheme + window.location.host + '/ws/browser/device/' + device_id);

  socket.onmessage = function (e) {
    var raw = JSON.parse(e.data);
    if (raw['cmd'] == 'update_info') {
      document.querySelector('#timestamp').innerHTML = raw['data']['timestamp'];
      document.querySelector('#temperature').innerHTML = raw['data']['temperature'] + ' °C';
      document.querySelector('#humidity').innerHTML = raw['data']['humidity'] + ' %';
      document.querySelector('#pmat25').innerHTML = raw['data']['pmat25'] + ' μg/m<sup>3</sup>';
      document.querySelector('#loudness').innerHTML = raw['data']['loudness'] + ' dB';
      document.querySelector('#light_intensity').innerHTML = raw['data']['light_intensity'] + ' lux';
      document.querySelector('#uv_intensity').innerHTML = raw['data']['uv_intensity'] + ' mW/cm<sup>2</sup>';
      // document.querySelector('#pir_timeout').value = raw['data']['pir_timeout'];
      switch_diabled_toggle('#led_status', raw['data']['led_status']);
      switch_diabled_toggle('#pir_status', raw['data']['pir_status']);
      ui_disabled(false);
    }
  };

  socket.onclose = function (e) {
    alert('WebSocket connection closed unexpectedly.\nPlease refresh the page.');
    ui_disabled(true);
  };
</script>

{% if request.user.is_staff %}
<script>
  function ws_send(cmd) {
    if (socket.readyState == 1) {
      if (document.querySelector('#timestamp').innerHTML != 'Disconnected') {

        if (cmd == 'led_ctrl') {
          led_status = document.querySelector('#led_status').checked ? true : false;

          var msg = { 'cmd': cmd, 'data': { 'led_status': !led_status } };

        }

        socket.send(JSON.stringify(msg));
        console.log(JSON.stringify(msg));

      } else {
        alert('Edge Device is disconnected.');
      }
    } else {
      alert('WebSocket connection closed unexpectedly.\nPlease refresh the page.');
    }
  }
</script>
{% endif %}
{% endblock %}