{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_title %}Edit Device | ITLab SSL{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <ul class="breadcrumb">
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'device_list' %}">Device List</a>
                </li>
                <li class="active">
                    Edit Device
                </li>
            </ul>
            {% if object %}
                <h3>Device: {{ object }}</h3>
            {% else %}
                <h3>New Device</h3>
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}
                {% bootstrap_button button_type='submit' content='Save' button_class='btn-success' %}
                <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-default">Back</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}
