{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_title %}Edit Device | ITLab SSL{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
      <div class="page-header">
        <h1>
          {% if object %}
          Edit Device <small>{{ object }}</small>
          {% else %}
          New Device
          {% endif %}
        </h1>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {% if object %}
          <form id="ResetForm" action="{% url 'reset_token' pk=object %}" method="post">{% csrf_token %}</form>
          {% endif %}
          <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if object %}
            <div class="form-group">
              <label class="control-label" for="id_token">Token</label>
              <div class="input-group">
                <input type="text" name="token" value="{{ form.instance.token }}" class="form-control"
                  placeholder="Error" id="id_token" disabled="disabled">
                <span class="input-group-btn">
                  <input type="submit" value="Reset" form="ResetForm" class="btn btn-danger">
                </span>
              </div>
            </div>
            {% endif %}
            <button class="btn btn-success" type="submit" onclick="alert('{{ setup_msg }}');">Save</button>
            <a href="{% url 'device_list' %}" class="btn btn-default">Back</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}