{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_title %}Home | ITLab SSL{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron center-block" style="padding-top: 20px; padding-bottom: 40px;">
        <h2>
          Wellcome to ITLab Smart Street Light !
        </h2>
        <p>
          This is a demo website.
        </p>
        <p>
          <a class="btn btn-primary btn-large" href="{% url 'device_list' %}">Show Device List</a>
          <a class="btn btn-info btn-large" href="{% url 'aboutus' %}">About us</a>
        </p>
        {% if user.is_superuser %}
        <p>
          <a class="btn btn-warning btn-large" href="{% url 'admin:auth_user_changelist' %}">Change User Permission</a>
        </p>
        {% endif %}
        <br />
        <img src="/static/home/image/arch.png" alt="ITLab Logo" class="img-responsive center-block" style="width: 90%;">
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}