{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_title %}Edit Info | ITLab SSL{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
            <div class="page-header">
                <h1>
                    {% if object %}
                        Edit Info <small>{{ object }}</small>
                    {% else %}
                        New Info
                    {% endif %}
                </h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% bootstrap_button button_type='submit' content='Save' button_class='btn-success' %}
                        <a href="{{request.META.HTTP_REFERER|escape}}" class="btn btn-default">Back</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_script %}
{% endblock %}
