{% extends "account/base.html" %}
{% load bootstrap3 %}
{% load account %}
{% load i18n %}

{% block account_content %}

<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
      <div class="page-header">
        <h1>
          {% trans "Change Password" %}
        </h1>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <form class="login" method="POST" action="" class="password_change">
            {% csrf_token %}
            {% bootstrap_form password_change_form layout='inline' %}
            <div class="form-actions">
              <div class="row margin-bottom-20">
                <div class="col-xs-12">
                  {% bootstrap_button button_type='submit' name='action' content='Save' button_class='btn-info' value='submit' %}
                  <a href="{% url 'account_email' %}" class="btn btn-default">Back</a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}